
<%= render "employees/header"%>
 <table class="table">
   <h2>All Status</h2>
   <thead>
    <th> <strong>Status Date</strong></th>
    <th> <strong>In Time</strong></th>
    <th><strong>Out Time</strong></th>
    <th><strong>Total Hours</strong></th>
 </thead>
<% @employee.attendances.listing(:date).each do |status|%>
 <tbody>
 <tr>
 
   <td> <%= status.date.strftime("%d/%m/%Y")  %></td>
   <td><%= status.time_in.strftime("%H:%M") %></td>
  <td><%= status.time_out.strftime("%H:%M") %></td>
   <td>:<%= status.total_hour.strftime("%H:%M") %></td>
 </tr>
 </tbody>
<% end %>
</table>