<%= render "employees/header"%>
 <div class='navbar'>
  ||  <%= link_to 'Personal Details', employee_path(@employee) %>  ||
    <%= link_to 'Submit Daily status',new_employee_attendance_path(@employee) %>  ||
    <%= link_to 'View Salary Status', employee_salaries_path(@employee) %>  ||
    <%= link_to 'Check Leaves', employee_leaves_path(@employee) %> 

    </div>
<br>
<table>
<h2>All Status</h2>
<th> <strong>Status Date</strong></th>
 <th> <strong>In Time</strong></th>
 <th><strong>Out Time</strong></th>
 <th><strong>Total Hours</strong></th>
 
<% @employee.attendances.listing(:date).each do |status|%>
 
 <tr>
 
   <td> <%= status.date.strftime("%d/%m/%Y")  %></td>
   <td><%= status.time_in.strftime("%H:%M") %></td>
  <td><%= status.time_out.strftime("%H:%M") %></td>
   <td>:<%= status.total_hour.strftime("%H:%M") %></td>
 </tr>
<% end %>
</table>