<%= render "employees/header"%>
<h1>Personal Details</h1>
 
  
  <h3><b>First Name :</b><%= @employee.first_name%> </h3>
  <h3><b>Last Name :</b><%= @employee.last_name%> </h3>
  <h3><b>Father's Name :</b><%= @employee.father_name%> </h3>
  <h3><b>Mother's Name :</b><%= @employee.mother_name%> </h3>
  <h3><b>Email :</b> <%= @employee.email%></h3> 
  <h3><b>Email :</b> <%= @employee.email%></h3> 
  <h3><b>Email :</b> <%= @employee.email%></h3> 
 

