<%= render "employees/header"%>
 
<h1>Apply Leave</h1>
<%= form_for [@employee,@employee.leaves.build] do |f| %>
 <p>
    <%= f.label :startdate ,"From Date" %>
    <%= f.date_field :startdate %>
  </p>
   <p>
    <%= f.label :endtdate ,"To Date" %>
    <%= f.date_field :enddate %>
  </p>
  <p>
    <%= f.label :reason,"Reason" %><br>
    <%= f.text_field :reason %>
  </p>
 <br>
  <p>
    <%= f.submit "Send" %>
  </p>

<% end %>